.card {
    display: inline-block;
    max-height: 100%;
    max-width: 85%;
    margin-right: 5px;
    margin-left: 10px;
}

.card > img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.card > span {
    position: absolute;
    background-color: transparent;
    left: 10px;
    bottom: 20px;
    cursor: pointer;
}

span > h1 {
    font-weight: bolder;
    font-size: 30px;
    background-color: transparent;
    color: white;
    outline: black;
    cursor: pointer;
}

.info-wrapper {
    position: absolute;
    bottom: 2px;
    left: 10px;
}

.card > .time, .card > .calories {
    bottom: 2px;
}

.time > h2, .calories > h2 {
    display: inline-block;
    position: relative;
    bottom: 5px;
    font-size: 15px;
    background-color: #222222;
    color: white;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    margin: 0 5px 0 0;

}

.calories > h2 {
    background-color: #55bd55;
}